{% extends 'layouts/layout.htm' %}

{% block page_title %}{{ pad.name }} - {{ pad.notes|length }}{% endblock %}

{% block content %}
    {% if pad.notes|length > 0 %}
        <table class="notes">
            <tr>
                <th class="note">Note</th>
                <th class="date">Last modified</th>
            </tr>
            {% for note in pad.notes %}
                <tr>
                    <td><a href="/notes/{{ note.id }}">{{ note.name }}</a></td>
                    <td class="hidden-text date">{{ note.updated_at|date("F jS \\a\\t g:ia") }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="empty">You don't have notes in this pad yet.</p>
    {% endif %}
    <a href="/notes/create?pad={{ pad.id }}" class="button">New note</a>&nbsp;
    <a href="/pads/{{ pad.id }}/update">Pad settings</a>
{% endblock %}